@inherits LayoutComponentBase

<FluentLayout>
	<FluentBodyContent Class="body-content">
		<section class="content no-padding no-margin">
			@Body
		</section>
	</FluentBodyContent>
	<div class="position-abs bottom-0 font-small padding-small">
		<RenderMode />
	</div>
	<InteractiveComponents />
</FluentLayout>
