@inherits LayoutComponentBase

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />

<FluentLayout>
	<FluentBodyContent Class="body-content">
		<section class="content no-padding no-margin">
			@Body
		</section>
	</FluentBodyContent>
	<div class="position-abs bottom-0 font-small padding-small">
		<span>
			Render mode: @(rendering)
		</span>
	</div>
</FluentLayout>

@code
{
	private string rendering = "SSR (not interactive)";

	protected override void OnAfterRender(bool firstRender)
	{
		if (firstRender)
		{
			rendering = OperatingSystem.IsBrowser() ? "WASM" : "Server interactive";
			StateHasChanged();
		}
	}
}
