<div class="reply-count-summary">
	@foreach (var replyCountResponse in ReplyCount)
	{
		<div class="reply-type reply-type-@((int)replyCountResponse.Type)">
			@(replyCountResponse.Count)
		</div>
	}
	<div class="reply-type reply-type-undefined">
		@(TeamCount - ReplyCount.Sum(x => x.Count))
	</div>
</div>

@code
{
	[Parameter]
	[EditorRequired]
	public required List<ReplyCountResponse> ReplyCount { get; set; }

	[Parameter]
	[EditorRequired]
	public required int TeamCount { get; set; }
}
