@page "/teams/{teamGuid:guid}/events/{eventGuid:guid}"

@rendermode InteractiveAuto

@inherits CancellableComponent

@inject NavigationManager NavigationManager
@inject IToastService ToastService
@inject IMessenger Messenger
@inject EventService EventService
@inject TeamService TeamService

<h3>Event</h3>

@code
{
	[Parameter]
	public Guid TeamGuid { get; init; } = default!;

	[Parameter]
	public Guid EventGuid { get; init; } = default!;


	private EventResponse? EventData { get; set; } = null;

	protected override async Task OnInitializedAsync()
	{
		var teamId = TeamId.FromGuid(TeamGuid);
		var eventId = EventId.FromGuid(EventGuid);

		var result = await EventService.GetEventAsync(teamId, eventId, false, CTS.Token);
		if (result.IsSuccess)
		{
			EventData = result.Value;
		}
	}
}
